@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #d9d9d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d9d9d9;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.archivo {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 500;
  text-transform: lowercase;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: #333;
  line-height: 3.4rem;
}

h2 {
  font-size: 1.2rem;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #333;
}

h4 {
  text-transform: lowercase;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: #333;
  font-family: Archivo, sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 200;
  line-height: 1.2rem;
  border-top: 1px solid #00b478;
  padding-top: 0.4rem;
}

.bggradient {
  background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}
